body {
    background-color: gray;
    font-family: Georgia;
}
h1 {
    color: red;
    font-family: Georgia;
    font-size: 40px;
    font-weight: bold;

}

p {
    color: white;
    font-family: Times New Roman;
    font-size: 20px;

}
.highlight {
    background-color: white;
}

.card {
    background-color: red;
    padding: 20px;
    margin: 10px;
    border: 2px solid gray;
}